.StringView {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px auto;
  :global {
    .string-view-header {
      padding: 10px;
    }

    .string-content {
      // min-height: 300px;
    }
  }
}
